body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

#image-side {
  flex: 1;
}

#text-side {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

img {
  width: 75%;
  height: 250px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px; /* Add some spacing between images */
}

.theory {
  margin-bottom: 20px; /* Add spacing between different theories */
}