body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}
.Main{
    text-align: left;
    font-size: larger;
    font-style: italic;
    background-color:gray;
}

.locations {
    flex: 1;
    padding: 20px;
    text-decoration-color: black;
    text-align: left;
    font-size: 30px;
    
    background-color: aquamarine;
}

.images {
    flex: 1;
    padding: 20px;
    width: 85%;
    height: 250px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #e0e0e0;
}
