body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
   width: 100%;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
   
    background-color:gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    
}
footer {
    background-color: #333;
 
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
body1 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  #image-side {
    flex: 1;
  }
  
  #text-side {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }
  
  img {
    width: 75%;
    height: 250px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px; /* Add some spacing between images */
  }
  
  .theory {
    margin-bottom: 20px; /* Add spacing between different theories */
  }